
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<form name="image-form" id="image-form">
    <label for="file">File</label>
    <input name="file" id="image-input" type="file">
     
    <input type="submit" value="Upload">
</form>

<script>

var imageForm = $('#image-form' ),
    fileInput = $('#file'),
    formData = new FormData();
 
imageForm.on( 'submit', function( e ) {
    e.preventDefault();
       

    formData.append('file',$('input[type=file]')[0].files[0]);  
     
    $.ajax({
        url: 'http://testcab.openview.it/wp-json/wp/v2/media',
        method: 'POST',
		
        data: formData,
        crossDomain: true,
        //contentType: 'multipart/form-data',
        processData: false,
        beforeSend: function ( xhr ) {
            //xhr.setRequestHeader( 'Authorization', 'Basic username:password' );
			//xhr.open("POST", "http://testcab.openview.it/wp-json/wp/v2/media");
            xhr.setRequestHeader("authorization", "Basic ZmVkZXJpY29yaXp6YXRvNzVAZ21haWwuY29tOlZhbGxpc25lcmlfMTY2MQ==");
            xhr.setRequestHeader("content-type", "image/jpeg");
xhr.setRequestHeader("content-disposition","attachment;filename=prova.jpg");
xhr.setRequestHeader("cache-control", "no-cache");
//xhr.setRequestHeader("content-length", "576012");		
			
			
			
			
        },
        success: function( data ) {
            console.log( data );
        },
        error: function( error ) {
            console.log( error );
        }
    });
});

</script>