



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

Lascia il tuo commento 
<form name="post-form" id="post-form">
    <label for="title">Museo visitato</label>
    <input type="text" name="title" id="title">
     
    <label for="status">Stato del post</label>
    <select name="status" id="status">
        <option value="publish">Pubblica</option>
        
    </select>
     
    <label for="content">Commento</label>
	<textarea name="content" id="content"></textarea>

	<input type="submit" name="submit" value="Submit">
	
	</form>

<script>
var postForm = $( '#post-form' );
 
postForm.on( 'submit', function( e ) {
    e.preventDefault();
     
    $.ajax({
        url: 'http://testcab.openview.it/wp-json/wp/v2/posts',/*testcab.openview.it/wp-json/wp/v2/posts*/
        method: 'POST',
        data: postForm.serialize(),
        crossDomain: true,
        beforeSend: function ( xhr ) {
            xhr.setRequestHeader('authorization', 'Basic ZmVkZXJpY29yaXp6YXRvNzVAZ21haWwuY29tOlZhbGxpc25lcmlfMTY2MQ=='/*Basic ZmVkZXJpY29yaXp6YXRvNzVAZ21haWwuY29tOlZhbGxpc25lcmlfMTY2MQ==*/);
        },
        success: function( data ) {
            console.log( data );
        }
    });
});



/*testcab.openview.it/wp-json/wp/v2/posts*/
/*Basic ZmVkZXJpY29yaXp6YXRvNzVAZ21haWwuY29tOlZhbGxpc25lcmlfMTY2MQ==*/

</script>
<br></br>


 



