
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<style>
.dropbtn {
    
   background-color: #ffd600;
   
    position:right;
    padding: 16px;
    font-size: 16px;
    border: none;
	position: relative;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ffd600;
}

.dropdown {
    width: 100%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    
    background-color:#1f2c39 ;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0);
    z-index: 1;
}

.dropdown-content a {

    color: white;
    padding: 16px 16px;
	font-size: 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


.sottocollezione{ 
    color: red;
}







	  
	</style>  




















</head>
<body>









<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Scegli la collezione</button>
<div id="myDropdown" class="dropdown-content">
<a onclick="loadCollectionById('329128');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/francigena-small.png" height="42" width="42"></img>  Francigena</a>
<a onclick="loadCollectionById('332228');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/teatro-del-mondo-small-3.png" height="42" width="42"></img>Teatro del mondo</a>
<a onclick="loadCollectionById('75413'); " href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/descrizioni-orto-botanico-small.jpg" height="42" width="42"></img>Museo Botanico</a>
<a onclick="loadCollectionById('269365');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/erbario-marsili-small.jpg" height="42" width="42"></img>Erbario Marsili</a>
<a onclick="loadCollectionById('307311');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ca-foscari-archivio-gino-luzzatto-small.jpg" height="42" width="42"></img>Gino Luzzatto</a>
<a onclick="loadCollectionById('302431');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ladag-small.png" height="42" width="42"></img>Libri antichi e di pubblico dominio delle biblioteche giuridiche</a>
<a onclick="loadCollectionById('109550');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/belf-small.png" height="42" width="42"></img>Biblioteca di Linguistica e Filologia</a>
<a onclick="loadCollectionById('269435');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/modelli-ponti-small.png" height="42" width="42"></img>Modelli di ponti della Regia Scuola</a>
<a onclick="loadCollectionById('152073');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/pergamene-s-maria-carceri-small.jpg" height="42" width="42"></img>Pergamene di S. Maria delle Carceri</a>
<a onclick="loadCollectionById('74545');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/iuav-fondo-labo-small.jpg" height="42" width="42"></img>Il fondo Mario Labò</a>
<a onclick="loadCollectionById('72829');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ca-foscari-orienta-insegna-small.jpg" height="42" width="42"></img>CA foscari orienta e insegna</a>
<a onclick="loadCollectionById('74586');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/musei-settecento-a-padova-small.jpg" height="42" width="42"></img>Il Settecento a Padova</a>
<a onclick="loadCollectionById('74203');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/iuav-archivio-iconografico-small.jpg" height="42" width="42"></img>Archivio iconografico Iuav</a>
<a onclick="loadCollectionById('68330');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/psicologia-a-padova-small.jpg" height="42" width="42"></img>L'evoluzione della psicologia a Padova: da Benussi a Metelli</a>
<a onclick="loadCollectionById('69146');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ca-foscari-eventi.jpg" height="42" width="42"></img>Ca' Foscari Eventi SBA</a>
<a onclick="loadCollectionById('62064');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/iconoteca-geologi-small.jpg" height="42" width="42"></img>Iconoteca dei geologi</a>
<a onclick="loadCollectionById('58715');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/pinali-antica-ex-libris-small.jpg" height="42" width="42"></img>Ex libris e segni di possesso dalle collezioni della Biblioteca medica "V. Pinali" antica
</a>
<a onclick="loadCollectionById('62504');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/tavole-parietali-del-museo-botanico-small.jpg" height="42" width="42"></img>Tavole parietali del Museo Botanico</a>
<a onclick="loadCollectionById('55598');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/casrec-stampa-clandestina-small.png" height="42" width="42"></img>Stampa clandestina del Centro di Ateneo per la storia della Resistenza e dell'età contemporanea</a>
<a onclick="loadCollectionById('63964');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ca-foscari-fondi-speciali-small.jpg" height="42" width="42"></img>Fondi speciali: libri antichi e rari di Ca' Foscari</a>
<a onclick="loadCollectionById('13368');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/turazza-small.jpg" height="42" width="42"></img>Lettere a e di Domenico Turazza</a>
<a onclick="loadCollectionById('56179');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/bernardi-small.jpg" height="42" width="42"></img>Archivio di Enrico Bernardi</a>
<a onclick="loadCollectionById('42363');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/metelli-small.jpg" height="42" width="42"></img>Archivio di Fabio Metelli</a>
<a onclick="loadCollectionById('46276');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/archivio-cdc-small.jpg" height="42" width="42"></img>Archivio "Carte del Contemporaneo"<a>
<a onclick="loadCollectionById('33962');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/archivio-cdc-small.jpg" height="42" width="42"></img>Storia dell'Università Ca' Foscari Venezia<a>
<a onclick="loadCollectionById('269936');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/cattrani-small.jpg" height="42" width="42"></img>Erbari illustrati della biblioteca dell'Orto botanico di Padova<a>
<a onclick="loadCollectionById('16503');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/tavole-didattiche-scienze-small-1.jpg" height="42" width="42"></img>Tavole parietali scientifiche<a>
<a onclick="loadCollectionById('12473');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/immed-small.jpg" height="42" width="42"></img>ImMed – Immagini dai libri antichi di Medicina<a>
<a onclick="loadCollectionById('4714');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/iconoteca-small.jpg" height="42" width="42"></img>Iconoteca dei botanici<a>
<a onclick="loadCollectionById('6786');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/lh-small.jpg" height="42" width="42"></img>Linked Heritage: learning objects and training materials<a>
<a onclick="loadCollectionById('24153');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ivsrec-small.jpeg" height="42" width="42"></img>Archivio fotografico CASREC<a>
<a onclick="loadCollectionById('8587');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/bodrero-small-3.jpg" height="42" width="42"></img>Dediche del Fondo Bodrero<a>
<a onclick="loadCollectionById('24150');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/orto-small.jpg" height="42" width="42"></img>Iconoteca degli orti botanici<a>
<a onclick="loadCollectionById('27271');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/digitalizzazione-small.png" height="42" width="42"></img>Progetti di digitalizzazione<a>
<a onclick="loadCollectionById('11845');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/icona-small.jpg" height="42" width="42"></img>Icona<a>









 </div>
</div>





<select id="selMembri" name="membri"></select>

<div id="index"></div>


</div>




<script>




  

 

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}


   

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
		
	
		
		
		
      }
    }
  }
}















function mostra() {
	var testo= $('#codice').val();
	console.log(testo);
	loadCollectionById(testo);
}






function loadCollectionById(testo) {
	$(document).ready(function(){
	

  
	    $.get("https://phaidra.cab.unipd.it/api/collection/o:"+testo+"/members", function(data, status){
        
		console.log(data.metadata.members);
		
		
		
		
		$.each(data.metadata.members, function(l,campol){
console.log(campol);
//$("#pid").append(campol.pid);		  		 		  
//alert("Data: " + data.metadata.members.pid + "\nStatus: " + status);
var urlg ="https://phaidra.cab.unipd.it/api/object/"+campol.pid+"/index";

$.getJSON(urlg, function(responseg){
			    console.log(responseg);

				$.each(responseg, function(i, fieldg){
				console.log(fieldg);
				
$("#pid").append(fieldg.dc_title_ita[0]+"<div>"+fieldg.dc_description_ita[0]+"<div>*Identificativo:"+fieldg.dc_identifier[1]);
$("#pid").append("<img src=https://fc.cab.unipd.it/fedora/objects/"+campol.pid+"/methods/bdef:Asset/getThumbnail>");				



$("#pid").append("<hr>");
			
				});
				
				
				
				
				
				});

});
		
		
				
		
		alert("La collezione di PHAIDRA che hai scelto possiede al suo interno delle sottocollezioni !: all'interno possiedono gli oggetti PHAIDRA, e le troverai colorate in rosso. Puoi Utilizzare il menu a tendina che elenca tutti gli identificativi delle famiglie della collezione per approfondire la ricerca");
		
			var obj = data;
			var members = obj.metadata.members;
			var listaForSelect =[];
			for (var i =0; i < members.length; i++) {
				listaForSelect.push(members[i].pid);
			}
					
			$('#selMembri')
				.find('option')
				.remove()
				.end();
				
			$('#selMembri').append($('<option>', { 
					value: '',
					text : 'Seleziona....'
				}));	
				
			$.each(listaForSelect, function (i, item) {
			
			
	 
				$('#selMembri').append($('<option>', { 
				  
					value: item,
					text : item
				}));
						
			});
		
		
		

	    
		});



});



$(document).ready(function(){
	$('#selMembri').on('change', function()
	{

		 var selectedMember = $('#selMembri').val();
		 $("#dc").empty();
		 
		 collectionItems(selectedMember);
		 

	});
	
	
 });
 
 
 
  

 
 

 
 function collectionItems(selectedMember) {
 
 		 if (!selectedMember || selectedMember==='') return;
		 			

					
		var urlx ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";		
		
		
		
					
			$.getJSON(urlx, function(responsex){	
         			
					
					
								
				
		var url ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";		
		
		
		
					
			$.getJSON(url, function(response){	
			
			var url2 ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";
			alert("Oggetti digitali caricati ! clicca per ottenere tutti gli oggetti della collezione (colorati in blu)")
			$.getJSON(url2, function(response2){
			    console.log(response2.metadata.members);

				$.each(response2.metadata.members, function(i, field){
				console.log(field.xmlname);
				//$("#dc").append(field.pid + "<br />");
				
				
				var url3 ="https://phaidra.cab.unipd.it/api/object/"+field.pid+"/index";
			
			$.getJSON(url3, function(response3){
			
			
			
			    console.log(response3);

				$.each(response3, function(i, field2){
				console.log(field2);
				$("#index").append(field2.dc_title_ita[0]);
				
				
				});
				$("#index").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+field.pid+'/methods/bdef:Asset/getThumbnail"></img></div>');
				$("#dc").append('<hr>');
				
				
				
				
				});
				
				

});  
				  
	
	
	
	
	
		 

			});
		});
		});
 



};
	  
	  

};



</script>


