

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



<input name="image" type="file"/>
<button>Submit</button>
</form>

<script>


$("form#data").submit(function () {
var formData = new FormData($(this)[0]);
$.ajax({
type: "POST",
url: 'http://testcab.openview.it/wp-json/wp/v2/media',
type: 'POST',
data: formData,
contentType: 'multipart/form-data',
processData: false,


beforeSend: function ( xhr ) {
            //xhr.setRequestHeader( 'Authorization', 'Basic username:password' );
			//xhr.open("POST", "http://testcab.openview.it/wp-json/wp/v2/media");
            xhr.setRequestHeader("authorization", "Basic ZmVkZXJpY29yaXp6YXRvNzVAZ21haWwuY29tOlZhbGxpc25lcmlfMTY2MQ==");
            xhr.setRequestHeader("content-type", "image/jpeg");
xhr.setRequestHeader("content-disposition","attachment;filename=prova.jpg");
xhr.setRequestHeader("cache-control", "no-cache");
			
			
			
			
			
        },






success: function (response) {
console.log(response);
},


cache: false,
contentType: false,
processData: false
});