


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<form enctype="multipart/form-data" action="/upload/image" method="post">
    <input id="image-file" type="file" />
</form>

<button  onClick='invia()'> 
	
	
		</a></button><br />


<script>
function invia(){


var data = $('#image-file').val();

var xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === 4) {
    console.log(this.responseText);
  }
});

xhr.open("POST", "http://testcab.openview.it/wp-json/wp/v2/media");
xhr.setRequestHeader("authorization", "Basic ZmVkZXJpY29yaXp6YXRvNzVAZ21haWwuY29tOlZhbGxpc25lcmlfMTY2MQ==");
xhr.setRequestHeader("content-type", "image/jpeg");
xhr.setRequestHeader("content-disposition","attachment;filename=\"provaxx.jpg\"");
xhr.setRequestHeader("cache-control", "no-cache");


xhr.send(data);

}
</script>