<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
var settings = {
  "async": true,
  "crossDomain": true,
  "url": "http://testcab.openview.it/wp-json/wp/v2/media",
  "method": "POST",
  "headers": {
    "authorization": "Basic ZmVkZXJpY29yaXp6YXRvNzVAZ21haWwuY29tOlZhbGxpc25lcmlfMTY2MQ==",
    "content-type": "image/jpeg",
    "content-disposition": "attachment;filename=\\\"prova.jpg\\\"",
    
    "postman-token": "5dffff8b-12f1-2d10-418f-4d33eafb0f4a"
  }
}

$.ajax(settings).done(function (response) {
  console.log(response);
});
</script>