

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <!-- Your other stuff  (you can have problems if you don't add minimum scale in the viewport) -->
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <!-- Include a Sidr bundled CSS theme -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.dark.min.css">
  </head>
  <body>
    <!-- More stuff -->
    <!-- Include jQuery -->
    <script src="http://cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
    <!-- Include the Sidr JS -->
    <script src="http://cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">








</head>
<style>
.dropbtn {
    
   background-color: #1f2c39;
   
    position:right;
    padding: 16px;
    font-size: 16px;
    border: none;
	position: relative;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ffd600;
}

.dropdown {
    width: 100%;
    display: inline-block;
	font-size: 10px;
	font-size: 10px;
}

.dropdown-content {
    display: none;
    font-size: 10px;
   
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0);
    z-index: 1;
}

.dropdown-content a {

    color: black;
    padding: 16px 16px;
	font-size: 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ffd600}

.show {display:block;}

.codice2 {

color:black;
}

.sottocollezione{ 
    color: black;
}




left-menu{



}






	  
	</style>  


<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:30%">

<table>
<tr>
<td>


<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Scegli la collezione</button>
<div id="myDropdown" class="dropdown-content" >
<a onclick="loadCollectionById('329128');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/francigena-small.png" height="42" width="42"></img>  Francigena</a>
<a onclick="loadCollectionById('332228');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/teatro-del-mondo-small-3.png" height="42" width="42"></img>Teatro del mondo</a>
<a onclick="loadCollectionById('75413'); " href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/descrizioni-orto-botanico-small.jpg" height="42" width="42"></img>Museo Botanico</a>
<a onclick="loadCollectionById('269365');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/erbario-marsili-small.jpg" height="42" width="42"></img>Erbario Marsili</a>
<a onclick="loadCollectionById('307311');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ca-foscari-archivio-gino-luzzatto-small.jpg" height="42" width="42"></img>Gino Luzzatto</a>
<a onclick="loadCollectionById('302431');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ladag-small.png" height="42" width="42"></img>Libri antichi e di pubblico dominio delle biblioteche giuridiche</a>
<a onclick="loadCollectionById('109550');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/belf-small.png" height="42" width="42"></img>Biblioteca di Linguistica e Filologia</a>
<a onclick="loadCollectionById('269435');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/modelli-ponti-small.png" height="42" width="42"></img>Modelli di ponti della Regia Scuola</a>
<a onclick="loadCollectionById('152073');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/pergamene-s-maria-carceri-small.jpg" height="42" width="42"></img>Pergamene di S. Maria delle Carceri</a>
<a onclick="loadCollectionById('74545');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/iuav-fondo-labo-small.jpg" height="42" width="42"></img>Il fondo Mario Labò</a>
<a onclick="loadCollectionById('72829');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ca-foscari-orienta-insegna-small.jpg" height="42" width="42"></img>CA foscari orienta e insegna</a>
<a onclick="loadCollectionById('74586');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/musei-settecento-a-padova-small.jpg" height="42" width="42"></img>Il Settecento a Padova</a>
<a onclick="loadCollectionById('74203');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/iuav-archivio-iconografico-small.jpg" height="42" width="42"></img>Archivio iconografico Iuav</a>
<a onclick="loadCollectionById('68330');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/psicologia-a-padova-small.jpg" height="42" width="42"></img>L'evoluzione della psicologia a Padova: da Benussi a Metelli</a>
<a onclick="loadCollectionById('69146');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ca-foscari-eventi.jpg" height="42" width="42"></img>Ca' Foscari Eventi SBA</a>
<a onclick="loadCollectionById('62064');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/iconoteca-geologi-small.jpg" height="42" width="42"></img>Iconoteca dei geologi</a>
<a onclick="loadCollectionById('58715');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/pinali-antica-ex-libris-small.jpg" height="42" width="42"></img>Ex libris e segni di possesso dalle collezioni della Biblioteca medica "V. Pinali" antica
</a>
<a onclick="loadCollectionById('62504');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/tavole-parietali-del-museo-botanico-small.jpg" height="42" width="42"></img>Tavole parietali del Museo Botanico</a>
<a onclick="loadCollectionById('55598');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/casrec-stampa-clandestina-small.png" height="42" width="42"></img>Stampa clandestina del Centro di Ateneo per la storia della Resistenza e dell'età contemporanea</a>
<a onclick="loadCollectionById('63964');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ca-foscari-fondi-speciali-small.jpg" height="42" width="42"></img>Fondi speciali: libri antichi e rari di Ca' Foscari</a>
<a onclick="loadCollectionById('13368');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/turazza-small.jpg" height="42" width="42"></img>Lettere a e di Domenico Turazza</a>
<a onclick="loadCollectionById('56179');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/bernardi-small.jpg" height="42" width="42"></img>Archivio di Enrico Bernardi</a>
<a onclick="loadCollectionById('42363');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/metelli-small.jpg" height="42" width="42"></img>Archivio di Fabio Metelli</a>
<a onclick="loadCollectionById('46276');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/archivio-cdc-small.jpg" height="42" width="42"></img>Archivio "Carte del Contemporaneo"<a>
<a onclick="loadCollectionById('33962');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/archivio-cdc-small.jpg" height="42" width="42"></img>Storia dell'Università Ca' Foscari Venezia<a>
<a onclick="loadCollectionById('269936');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/cattrani-small.jpg" height="42" width="42"></img>Erbari illustrati della biblioteca dell'Orto botanico di Padova<a>
<a onclick="loadCollectionById('16503');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/tavole-didattiche-scienze-small-1.jpg" height="42" width="42"></img>Tavole parietali scientifiche<a>
<a onclick="loadCollectionById('12473');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/immed-small.jpg" height="42" width="42"></img>ImMed – Immagini dai libri antichi di Medicina<a>
<a onclick="loadCollectionById('4714');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/iconoteca-small.jpg" height="42" width="42"></img>Iconoteca dei botanici<a>
<a onclick="loadCollectionById('6786');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/lh-small.jpg" height="42" width="42"></img>Linked Heritage: learning objects and training materials<a>
<a onclick="loadCollectionById('24153');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/ivsrec-small.jpeg" height="42" width="42"></img>Archivio fotografico CASREC<a>
<a onclick="loadCollectionById('8587');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/bodrero-small-3.jpg" height="42" width="42"></img>Dediche del Fondo Bodrero<a>
<a onclick="loadCollectionById('24150');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/orto-small.jpg" height="42" width="42"></img>Iconoteca degli orti botanici<a>
<a onclick="loadCollectionById('27271');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/digitalizzazione-small.png" height="42" width="42"></img>Progetti di digitalizzazione<a>
<a onclick="loadCollectionById('11845');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/icona-small.jpg" height="42" width="42"></img>Icona<a>






</div>
</div>





<select id="selMembri" name="membri">Scegli la collezione</select>

<input type='text' class="codice2" name='codice2' id='codice2'/>
<button  onClick='mostra2()' class="button">Fai una ricerca</button>


</div>

</tr>
</td>


<tr>
<td>
<input type="button" value="Recharge" onClick="window.location.reload()">
</tr>
</td>
</tr>


</table>


</div>
<div style="margin-left:30%">

<div class="prova"></div>
<div id="dc"></div>






<div id="pid" class="sottocollezione"></div>














<script>






 

 document.addEventListener("deviceready", onDeviceReady, false);
function onDeviceReady() {
    console.log(navigator.compass);
}
 
 
 
 
 
 

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");

	

	
	
	
	
	}


   

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
		
	
		
		
		
      }
    }
  }
}


















function mostra() {
	var testo= $('#codice').val();
	console.log(testo);
	loadCollectionById(testo);
}






function loadCollectionById(testo) {
	$(document).ready(function(){
	

  
	    $.get("https://phaidra.cab.unipd.it/api/collection/o:"+testo+"/members", function(data, status){
        //alert("Data: " + data + "\nStatus: " + status);
		//console.log(data.metadata.members);
		
		
		
		
		$.each(data.metadata.members, function(l,campol){
//console.log(campol);
//$("#pid").append(campol.pid);		  		 		  

var urlg ="https://phaidra.cab.unipd.it/api/object/"+campol.pid+"/index";

$.getJSON(urlg, function(responseg){
			    console.log(responseg);

				$.each(responseg, function(i, fieldg){
				console.log(fieldg);
				
$("#pid").append(fieldg.dc_title_ita[0]+"<div>"+fieldg.dc_description_ita[0]+"<div>Identificativo:"+fieldg.dc_identifier[1]+"<div></div>");

$("#pid").append("<img src=https://fc.cab.unipd.it/fedora/objects/"+campol.pid+"/methods/bdef:Asset/getThumbnail>");				
$("#pid").append("<hr>");


//$("#pid").append("<hr>");
			
				});
				
				
				
				
				
				});

});
		
		
				
		
		//alert("La collezione di PHAIDRA che hai scelto possiede al suo interno delle sottocollezioni !: all'interno possiedono gli oggetti PHAIDRA, e le troverai colorate in rosso. Puoi Utilizzare il menu a tendina che elenca tutti gli identificativi delle famiglie della collezione per approfondire la ricerca");
		
			var obj = data;
			var members = obj.metadata.members;
			var listaForSelect =[];
			for (var i =0; i < members.length; i++) {
				listaForSelect.push(members[i].pid);
			}
					
			$('#selMembri')
				.find('option')
				.remove()
				.end();
				
			$('#selMembri').append($('<option>', { 
					value: '',
					text : 'Seleziona....'
				}));	
				
			$.each(listaForSelect, function (i, item) {
			
			
	 
				$('#selMembri').append($('<option>', { 
				
				
				
				
				
				
				
				
				
				
				  
					//value: item,
					text : item
					
					
					
					
					
					
					
				}));
						
			});
		
		
		

	    
		});



});



$(document).ready(function(){
	$('#selMembri').on('change', function()
	{

		 var selectedMember = $('#selMembri').val();
		 $("#dc").empty();
		 
		 collectionItems(selectedMember);
		 

	});
	
	
 });
 
 
 
 
 
 
 
 
 function collectionItems(selectedMember) {
 
 		 if (!selectedMember || selectedMember==='') return;
		 			

					
		var urlx ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";		
		
		
		
					
			$.getJSON(urlx, function(responsex){	
         			
					
			

			
								
				
		var url ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";		
		
		
		
					
			$.getJSON(url, function(response){	
			alert("Oggetti digitali caricati... clicca per ottenere tutti gli oggetti della collezione")
			var url2 ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";
			
			$.getJSON(url2, function(response2){
			    console.log(response2.metadata.members);

				$.each(response2.metadata.members, function(i, field){
				console.log(field);
				$("#pid").append(field.pid + "<br />");
				
				
				var url3 ="https://phaidra.cab.unipd.it/api/object/"+field.pid+"/index";
			
			$.getJSON(url3, function(response3){
			
			
			
			    console.log(response3);

				$.each(response3, function(i, field2){
				console.log(field2);
				$("#dc").append("<div><div>Titolo:"+field2.dc_title_ita[0]+"<div><div>Descrizione:"+field2.dc_description_ita[0]+"<div><div>");
				
				$("#dc").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+field.pid+'/methods/bdef:Asset/getThumbnail"></img></div>');
				$("#dc").append('<hr>');
				});
				
				
				
				
				
				
				});
				
				

});  
				  
	
	
	
	
	
		 

			});
		});
		});
 



};
	  
	  

};
















function mostra2() {
	var testo= $('#codice2').val();
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo+"";
	  $.getJSON(url, function(response){
		console.log(response.objects);
		
	
		$.each(response.objects, function(a,campo){
		 console.log(campo);
		 var myId = campo.PID.substring(2);
		  
		  
		  
		  		  
		  
		 var myPid=campo.PID;
		 $.getJSON("https://phaidra.cab.unipd.it/api/object/"+myPid+"/index", function(res2){
			
			
			
			
			$.each(res2, function(a,field){
			
			
			console.log(field);
		$(".prova").append(field.dc_title[0]+"<div></div>"+field.dc_description[0]);
		$(".prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/o:'+myId+'/methods/bdef:Asset/getThumbnail"></img></div><div id='+myId+' ></div><hr>');	
              

			  });
			 
			  
			
		
	  });
	  
	  
	  
	  
	  
	});
});


})






}




 






































</script>
</div>
</body>

