<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<input type='text' class="codice" name='codice' id='codice'/>
<button  onClick='mostra()' class="button">Fai una ricerca</button>




<script>
function mostra() {
	var testo= $('#codice').val();
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo+"&fields=uw.general.description";
	  $.getJSON(url, function(response){
		console.log(response.objects);
		alert(response.objects);
		
		
		//'.risposta').append("</hr>");
		//'.risposta').append('<img src="https://fc.cab.unipd.it/fedora/objects/o:'+campo.PID+'/methods/bdef:Asset/getThumbnail');
		});
		});
		};
		
	
		
		</script>
		<div></div>
		